body {
    font-family: "Zen Maru Gothic", Helvetica, serif;
    font-style: normal;
    background-color: #07161D;
    margin: 0;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: top;
    height: 100vh;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.linkContainer {
    margin: 0 auto;
    padding: 2rem;
    width: 18.75rem;
    background: #041522;
    text-align: center;
    border-radius: 0.625rem;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.linkContainer::after, .linkContainer::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--angle), #3a94b8, #26478a, #2f007f);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.1875rem;
    border-radius: 0.625rem;
    animation: 4s spin linear infinite;
}

.linkContainer::before {
    filter: blur(1.5rem);
    opacity: 0.5;
    transition: all 1s ease;
}

.linkContainer:hover:before {
    opacity: 0.7;
    filter: blur(9rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

h1 {
    font-weight: 500;
    font-size: 1.9rem;
    color: #b1b1b1;
}

h2 {
    font-weight: 500;
    font-size: 1.1rem;
    color: #b1b1b1;
}

.links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 0.9375rem 1.875rem;
    margin: 0.625rem auto;
    border-radius: 1.5625rem;
    font-size: 1.1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 12.5rem;
}

.links {
    margin-top: 1.875rem;
}

.links a img {
    margin-right: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
}

.links a.github {
    background-color: #333;
}

.links a.linkedin {
    background-color: #0072b1;
}

.links a:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.2);
}

